@model IEnumerable<Unimacs_3000.Models.SensorData>

@{
    ViewBag.Title = "View";
}
<h2>View</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sensor_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NMEA_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sensor_value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timestamp)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        long utcNowLongBack = BitConverter.ToInt64(item.timestamp.ToArray(), 0);
        DateTime utcNowBack = DateTime.FromBinary(utcNowLongBack);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sensor_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NMEA_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sensor_value)
            </td>
            <td>
                @utcNowBack
            </td>
        </tr>
    }

</table>
